{% extends "admin/base.html.twig" %}

{% block body %}


    <div class="page-header">
        <div class="page-title">
            <h3>
                {% trans from "admin" %}Users{% endtrans %}
                <small>{% trans from "admin" %}Users list{% endtrans %}</small>
            </h3>
        </div>
    </div>

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><a href="{{ url('admin_default_index') }}">{% trans from 'admin' %}Home{% endtrans %}</a></li>
            <li class="active">{% trans from 'admin' %}Users{% endtrans %}</li>
        </ul>
        <div class="pull-right" style="padding: 2px">
            <a href="{{ url('users_profiles') }}" class="btn btn-info btn-sm">
                <i class="icon-users"></i> {% trans from "admin" %}Profiles{% endtrans %}
            </a>
            <a href="{{ url('users_new') }}" class="btn btn-success btn-sm">
                <i class="icon-plus"></i> {% trans from "admin" %}New User{% endtrans %}
            </a>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h6 class="panel-title">
                {% trans from "admin" %}Users{% endtrans %}
            </h6>
        </div>
        <div class="panel-body">
            <div class="datatable">


                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{% trans from "admin" %}Contact{% endtrans %}</th>
                        <th>{% trans from "admin" %}Enabled{% endtrans %}</th>
                        <th>{% trans from "admin" %}Last Login{% endtrans %}</th>
                        <th>{% trans from "admin" %}Profile{% endtrans %}</th>
                        <th>{% trans from "admin" %}Email{% endtrans %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in users %}
                        <tr>
                            <td>{{ entity }}</td>
                            <td>
                                {% if entity.enabled %}
                                    <span class="label label-success">{% trans from 'admin' %}Yes{% endtrans %}</span>
                                {% else %}
                                    <span class="label label-danger">{% trans from 'admin' %}No{% endtrans %}</span>
                                {% endif %}
                                </td>
                            <td>{{ (entity.lastLogin)?entity.lastLogin|date('d/m/Y H:i:s') }} </td>
                            <td>
                                {% if entity.profile %}
                                    <a href="{{ path('profile_edit', { 'id': entity.profile.id }) }}">
                                        {{ entity.profile }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>{{ entity.email }}</td>

                            <td class="text-right">
                                <a href="{{ path('users_edit', { 'id': entity.id }) }}" class="btn btn-success btn-xs">
                                    {% trans from "admin" %}Edit{% endtrans %}</a>
                                <a href="{{ path('users_show_profile', { 'id': entity.id }) }}" class="btn btn-default btn-xs">
                                    {% trans from "admin" %}Show{% endtrans %}</a>
                               

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>

    </div>


{% endblock %}
